/********** HOME **********/

.txtBanner {
    position: absolute;
    left: 0;
    margin-top: 100px;
}

.margemTop {
    margin-top:260px;
    animation-duration: 6s;
}

#nossoCliente {
    width: 99vw;
    background: #f4f4f4;
    padding: 0px;
}

.carousel-indicators {
    left: 50.6%;
}

.triangle-down {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #85c6ad;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    z-index: 9999;
}

#txtNossoCliente {
    padding: 50px 0;
}

/* Planos */

#planosHome {
    display: block;
    position: relative;
    width: 99vw;
    /*height: auto;*/
    height: 75vh;
    padding: 0px;
    text-align: center
}

#txtPlanosHome{
    text-align: center;
}

#txtPlanosHome p{
    text-align: center;
}

#planosDestaque {
    margin-top: 30px;
}