/********** HOME **********/

.txtBanner {
    position: absolute;
    left: 0;
    margin-top: 10%;
}

.margemTop {
    margin-top: 18%;
}



#nossoCliente {
    width: 99vw;
    background: #f4f4f4;
    padding: 0px;
}

.carousel-indicators {
    left: 50.6%;
}

.triangle-down {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #85c6ad;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    z-index: 9999;
}

#txtNossoCliente {
    padding: 50px 0;
}

/* Planos */

#planosHome {
    display: block;
    position: relative;
    width: 99vw;
    /*height: auto;*/
    height: 75vh;
    padding: 0px;
    text-align: center
}

#txtPlanosHome{
    text-align: center;
}

#txtPlanosHome p{
    text-align: center;
}

#planosDestaque {
    margin-top: 30px;
}

/* Texto do Banner */
#bandaLarga {
    width: 35.4166%;
    margin-left: 50%;
}

#bandaLarga img {
    width: 100%;
}

#oferta {
    width: 17%;
    margin-left: 50%;
}

#oferta img {
    width: 100%;
}

#mega25 {
    width: 17%;
    margin-left: 68%;
}

#mega25 img {
    width: 100%;
}


/********** @MEDIAS **********/

@media all and (max-width: 500px) {
    .carousel-inner #banner1 {
        height: 300px;
        background-color: #85c6ad;
    }

    .carousel-inner #banner1 #imgBanner1 {
        display: none;
    }

    #bandaLarga {
        width: 80%;
        margin: auto;
        margin-top: 10%;
    }

    .txtBanner {
        right: 0;
    }

    #oferta {
        width: 39%;
        margin-left: 10%;
        margin-top: 30%;
    }

    #mega25 {
        width: 38%;
        margin-left: 51%;
        margin-top: 30%;
    }
}