/********** HOME **********/

.txtBanner {
    position: absolute;
    left: 0;
    margin-top: 10%;
}

.margemTop {
    margin-top: 18%;
}



#nossoCliente {
    width: 99vw;
    background: #fbfbfb;
    background-image: url("../Images/bgIcon.png");
    padding: 0px;
}

.carousel-indicators {
    left: 50.6%;
}

.triangle-down {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #85c6ad;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    z-index: 9999;
}

#txtNossoCliente {
    padding: 20px;
    display: inline-block;
    width: 40%;
    margin-left: 10%;
    vertical-align: top;
}

#imgNossoCliente {
    display: inline-block;
    width: 45%;
    padding: 0px;
    vertical-align: bottom;
}

#setaNossoCliente {
    border-top-color: #f4f4f4;
}

/* Planos */

#planosHome {
    display: block;
    position: relative;
    width: 99vw;
    /*height: auto;*/
    height: 75vh;
    padding: 0px;
    text-align: center
}

#txtPlanosHome{
    text-align: center;
}

#txtPlanosHome p{
    text-align: center;
}

#planosDestaque {
    margin-top: 30px;
}

/* Texto do Banner */
#bandaLarga {
    width: 35.4166%;
    margin-left: 50%;
}

#bandaLarga img {
    width: 100%;
}

#oferta {
    width: 17%;
    margin-left: 50%;
}

#oferta img {
    width: 100%;
}

#mega25 {
    width: 17%;
    margin-left: 68%;
}

#mega25 img {
    width: 100%;
}


/********** @MEDIAS **********/

@media all and (max-width: 1300px) {
    #txtNossoCliente {
        padding-right: 0px;
    }

    #txtNossoCliente h1 {
        font-size: 50px;
    }

    #imgNossoCliente {
        width: 49%;
    }
}

@media all and (max-width: 1000px) {
    #txtNossoCliente h1 {
        width: 220%;
        font-size: 45px;
    }
}

@media all and (max-width: 900px) {
    #txtNossoCliente {
        width: 45%;
        margin-left: 5%;
    }

    #txtNossoCliente h1 {
        width: 225%;
        font-size: 40px;
    }

    #txtNossoCliente p {
        padding: 10px 0 0 0;
        text-align: left;
    }
}

@media all and (max-width: 700px) {
    #txtNossoCliente {
        width: 90%;
        margin-right: 5%;
    }

    #txtNossoCliente h1 {
        width: 100%;
        font-size: 40px;
    }

    #imgNossoCliente {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .carousel-inner #banner1 {
        height: 300px;
        background-color: #85c6ad;
    }

    .carousel-inner #banner1 #imgBanner1 {
        display: none;
    }

    #bandaLarga {
        width: 80%;
        margin: auto;
        margin-top: 10%;
    }

    .txtBanner {
        right: 0;
    }

    #oferta {
        width: 39%;
        margin-left: 10%;
        margin-top: 30%;
    }

    #mega25 {
        width: 38%;
        margin-left: 51%;
        margin-top: 30%;
    }

    #txtNossoCliente h1 {
        font-size: 35px;
    }
}

@media all and (max-width: 450px) {
    .carousel-inner #banner1 {
        height: 250px;
    }

    #imgNossoCliente {
        width: 75%;
    }
}

@media all and (max-width: 350px) {
    .carousel-inner #banner1 {
        height: 220px;
    }

    #txtNossoCliente p {
          font-size: 18px;
    }
}

@media all and (max-width: 300px) {
    .carousel-inner #banner1 {
        height: 200px;
    }

    #txtNossoCliente h1 {
        font-size: 30px;
    }

    #txtNossoCliente {
        font-size: 16px;
    }

}