/* TXT */

h1 {
    font-size: 60px;
    color: #00a39b;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    color: #00a39b;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 20px;
    color: #282828;
    text-align: justify;
    padding: 20px 0 0 0;
}

/********************* PLANOS *********************/

.verde {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 10vh;
    background-color: #2fac69;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: auto;
}

.verde h2 {
    color: #fff;
    padding-top: 10px;
}

.verde p {
    color: #fff;
    padding-top: 0px;
    text-align: center;
}

hr {
    border: 2px solid #cdcdcd;
}

.btnPlanos {
    width: 300px;
    height: 80px;
    margin-top: 30px;
    background-color: #18a394;
    border: none;
    font-size: 30px;
    color: #fff;
}

.quadroPlano {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.quadroPlano  h3 {
    font-size: 30px;
}

.quadroP hr {
    width: 16vw;
}

quadroG hr{
  width: 18vw;
}

.bgGray {
    display: block;
    position: relative;
    background-color: #f0f0f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 2vw;
}

.quadroG{
    width: 20vw;
}

.quadroP{
    width: 18vw;
}


/********************* @MEDIAS *********************/
