::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #999999;
    border-left: 1px solid #CCC;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #666666;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #C2C2C2;
}

#logomenu {
    margin-left: -16%;
    position: absolute;
    margin-top: 1%;
}
#bs-example-navbar-collapse-1 {
    margin-left: 12%;
}
#posmenu {
    padding-top: 4.5%;
}

@media (max-width: 767px) {
    #logomenu {
        margin-left: -16%;
        position: absolute;
        margin-top: 20%;
    }
}

@media all and (max-width: 1820px){
    #logomenu {
        margin-left: -12%;
        position: absolute;
        margin-top: 7%;
    }
}
