::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #999999;
    border-left: 1px solid #CCC;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #666666;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #C2C2C2;
}

nav.navbar{
    border:none;
    background-color: #f4f4f4;
}

div#logoMenu {
    display: block;
    position: relative;
    margin: auto;
    height: 11vh;
    /*width: 55vw;*/
    width: 1056px;
    min-height: 73px;
}

div#logoMenu img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0px 15px;
}

div#logoMenu #areaCliente {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

div#logoMenu #areaCliente button {
    margin-top: 3.37vh;
   /* width: 9.9vw;*/
    width: 190px;
    border: 1px solid #00a39b;
    color: #00a39b;
}

div#logoMenu #areaCliente button i {
    font-size: 16px;
    padding-right: 10px;
}

div#logoMenu #areaCliente button:hover {
    color: #fff;
    background-color: #00a39b;
    font-weight: bold;
}

div#logoMenu #areaCliente button i:hover {
    color: #fff;
    font-weight: bold;
}

div#menu {
    display: block;
    position: relative;
    padding: 0;
    font-size: 18px;
    color: #737373;
}

.navbar-nav {
    display: inline-block;
    float: none !important;
}

.navbar-collapse {
    text-align: center;
}

#bs-example-navbar-collapse-1 {
    padding: 0px;
    border: none;
}

#posmenu {
    position: relative;
    margin: auto;
}

#posmenu li {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 18px;
    padding-left: 18px;
}


#posmenu li:hover {
    background-color: #00a39b;
}

#posmenu li:hover a{
    color: #ffffff;
}

/* Planos */

#planosHome {
    display: block;
    position: relative;
    width: 99vw;
    /*height: auto;*/
    height: 75vh;
    padding: 0px;
    text-align: center
}

#txtPlanosHome{
    text-align: center;
}

#txtPlanosHome p{
    text-align: center;
}

#planosDestaque {
    margin-top: 30px;
}


/* CORPORATIVO */

#planosCorporativo {
    display: block;
    position: relative;
    width: 55vw;
    height: auto;
    margin: auto;
}

#planosResidenciais {
    display: block;
    position: relative;
    width: 55vw;
    height: auto;
    margin: auto;
}



/********** RODAPÉ **********/

#menuRodape{
    vertical-align: middle;
    max-width: 1000px;
    margin: 0 auto;
}

#menuRodape ul {
    padding-top:30px;
    margin:0;
    list-style:none;
}

#menuRodape ul li { display: inline; }

#menuRodape ul li a {
    padding: 2px 20px;
    display: inline-block;

    /* visual do link */
    color: #333;
    text-decoration: none;
    border-left:3px solid #2daa6a;
}

#menuRodape img{
    float: left;
    display: inline-block;
    padding: 10px;
}

#direitos{
    clear: left;
    background-color: #00285c;
    padding: 10px;
    color: white;
}

#direitos div{
    max-width: 1000px;
    margin: 0 auto;
}

#btn_areaCliente{
    cursor:pointer;
}

#btninfor1{
    cursor:pointer;
    margin-top: 60px;
}

#btninfor2{
    cursor:pointer;
    margin-top: 59px;
}

#btninfor3{
    cursor:pointer;
    margin-top: 1px;
}

#btninfor4{
    cursor:pointer;
    margin-top: 27px;
}

/*

#logomenu {
    margin-left: -16%;
    position: absolute;
    margin-top: 1%;
}
#bs-example-navbar-collapse-1 {
    margin-left: 12%;
}
#posmenu {
    padding-top: 4.5%;
}

@media (max-width: 767px) {
    #logomenu {
        margin-left: -16%;
        position: absolute;
        margin-top: 20%;
    }
}

@media all and (max-width: 1820px){
    #logomenu {
        margin-left: -12%;
        position: absolute;
        margin-top: 7%;
    }
}
*/

.container-fluid>.navbar-header {
    padding-right: 15px;
}

.navbar-default .navbar-toggle {

}

/********** @MEDIAS **********/
@media all and (max-width: 1061px) {
    div#logoMenu {
        width: 95vw;
    }
}

@media all and (max-width: 1061px) {
    #posmenu li {
        padding-right: 12px;
        padding-left: 12px;
    }
    div#menu {
        font-size: 16px;
    }
}

@media all and (max-width: 917px) {
    #posmenu li {
        padding-right: 10px;
        padding-left: 10px;
    }
    div#menu {
        font-size: 14px;
    }
    .nav>li>a {
        padding: 10px 12px;
    }
}

@media all and (max-width: 767px) {
    #posmenu {
        width: 100%;
    }
}

@media all and (max-width: 500px) {
    div#logoMenu #areaCliente button {
        width: 50px;
        margin-right: 10px;
    }

    div#logoMenu #areaCliente button spam {
        display: none;
    }

    div#logoMenu #areaCliente button i {
        padding-right: 0px;
    }

    div#logoMenu img {
        width: 51vw;
    }
}